body {
    
    padding-bottom: 20px;
}

/*Aligns jumbotron text*/
.soon {
    text-align: center;
}

/*removes link color from navbar*/
.nav-item !important{
    color: none;
}

/* Set to keep body from bumping up into the navbar. */
.navbar {
    margin-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
